@model IEnumerable<TradingWebApplication.Models.Portfolio>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Dashboard";
    var alpaca_key = "";
    var alpaca_secret_key = "";
}

@foreach (var item in Model)
{
    if (item.Id == @User.Identity.Name)
    {

        alpaca_key = @item.Alpaca_Key.Key;
        alpaca_secret_key = @item.Alpaca_Key.Secret_Key;
    }

}

<input type="hidden" id="PassingAlpacaKey" value=@alpaca_key>
<input type="hidden" id="PassingAlpacaSecretKey" value=@alpaca_secret_key>
    <div class="container">
            <div id="root"  />
            <script src="~/dist/index.js"></script>

            <div class="container-fluid" style="padding-top:0;">
                <br />
                <br />
                <div class="row align-items-center">
                    <div class="col">
                        <div class="card" id="tradingCards">
                            <div class="card-body">
                                <h3 style="color:white;">Day Trade</h3>
                                <p style="color:dimgray;" id="card_size">
                                    Will buy and sell stocks within the same trading day so all positions are closed by the time the
                                    market closes for the day.
                                </p>
                                <a asp-action="DayTrade" asp-route-id="@User.Identity.Name">Day Trade</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" id="tradingCards">
                            <div class="card-body">
                                <h3 style="color:white;">Swing Trade</h3>
                                <p style="color:dimgray;"  id="card_size">
                                    Will buy and sell stock to capture short to medium term gains in stock over a period of a few days to
                                    several weeks.
                                    <br />
                                </p>
                                <a asp-action="SwingTrade" asp-route-id="@User.Identity.Name">Swing Trade</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" id="tradingCards">
                            <div class="card-body">
                                <h3 style="color:white;">Long Trade</h3>
                                <p style="color:dimgray;"  id="card_size">
                                    Will buy and sell stock to establish long positions in securities such as stocks, funds, currencies,
                                    options, and futures.
                                </p>
                                <a asp-action="LongTrade" asp-route-id="@User.Identity.Name">Long Trade</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
    </div>