@model TradingWebApplication.Models.Portfolio
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Long Trading";
}

<br />
<br />

<div class="container text-center">
    <div class="card" style="background-color:#161B22">
        <div class="card-body">
            <h1>Long Trading</h1>

            <br />

            <img src="https://i1.wp.com/atozmarkets.com/wp-content/uploads/amandeep-sonewane/2020/03/Annotation-2020-03-11-160353.jpg?ssl=1" alt="Day Trade Chart" style="width:50%;height:50%;">

            <br />
            <br />


            <h3 style="color:lime">
                Low Risk
            </h3>
            <p style="color:dimgray">
                Investors can establish long positions in securities such as stocks, mutual funds or currencies, or even in derivatives such as options and futures. Holding a long position is a bullish view.
            </p>

            <br />

            <form asp-action="UpdateTrade">
                <input type="hidden" asp-for="Id" value="@User.Identity.Name" />
                <input type="hidden" asp-for="Alpaca_Key.Key" value="@Model.Alpaca_Key.Key" />
                <input type="hidden" asp-for="Alpaca_Key.Secret_Key" value="@Model.Alpaca_Key.Secret_Key" />
                <input type="hidden" asp-for="Portfolio_Value" value="@Model.Portfolio_Value" />
                <input type="hidden" asp-for="Profit_Loss" value="@Model.Profit_Loss" />
                <input type="hidden" asp-for="Trade_Type" value="3" />
                <button type="submit" style="background-color: #6930c3" class="btn btn-lg btn-primary">Authorize</button>
            </form>
        </div>
    </div>
    <br />

    <p style="color:dimgray">
        Authorizing means you agree to Terms of Service and Privacy Policy regarding Long Trading.
    </p>
</div>

