@model TradingWebApplication.Models.Portfolio
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Swing Trading";
}

<br />
<br />

<div class="container text-center">
    <div class="card" style="background-color:#161B22">
        <div class="card-body">
            <h1>Swing Trading</h1>

            <br />

            <img src="https://venteskraft.net/wp-content/uploads/2020/06/600_488287581.png" alt="Day Trade Chart" style="width:50%;height:50%;">

            <br />
            <br />


            <h3 style="color:darkcyan">
                Medium Risk
            </h3>
            <p style="color:dimgray">
                Swing trading is a style of trading that attempts to capture short- to medium-term gains in a stock (or any financial instrument) over a period of a few days to several weeks.
            </p>

            <br />

            <form asp-action="UpdateTrade">
                <input type="hidden" asp-for="Id" value="@User.Identity.Name" />
                <input type="hidden" asp-for="Alpaca_Key" value="@Model.Alpaca_Key" />
                <input type="hidden" asp-for="Alpaca_Secret_Key" value="@Model.Alpaca_Secret_Key" />
                <input type="hidden" asp-for="Portfolio_Value" value="@Model.Portfolio_Value" />
                <input type="hidden" asp-for="Profit_Loss" value="@Model.Profit_Loss" />
                <input type="hidden" asp-for="Trade_Type" value="2" />
                <button type="submit" style="background-color: #6930c3" class="btn btn-lg btn-primary">Authorize</button>
            </form>

        </div>
    </div>
    <br />

    <p style="color:dimgray">
        Authorizing means you agree to Terms of Service and Privacy Policy regarding Swing Trading.
    </p>
</div>

